/*THESE ARE NOT GETTING TOUCHED*/
p {
  color: white;
  z-index: 2;
}
body {
  background-color: black;
  
}
hr {
    border-style: none;
    border-top: dotted;
    border-color: white;
    border-width: 6px;
    width: 20%;
}
a {
  color: white
}
/*SECTION 1 HOMEPAGE IN3*/
.sec1 {
  position: absolute;
  z-index: 3;
  top: 900px;
  left: 50px;
}
#bvidtop {
  position: absolute;
  right: px;
  top: px;
  width: 100%;
  height: 820px;
  opacity: 50%;
}
#fill {
  position: absolute;
  bottom: 950px;
  left: 400px;
  font-size: 150px;
  font-family: externalfontancient;
  text-shadow: rgb(0, 157, 255) 5px 5px 5px;
  width: 1000px;
  opacity: 75%;
  z-index: 3;
}
#c {
  position: relative;
  z-index: 3;
  font-family: externalfontancient;
  font-size: 150px;
  color: blue;
  left: 566px;
  bottom: -30px;
}
#r {
  position: relative;
  z-index: 3;
  font-family: externalfontancient;
  font-size: 150px;
  color: red;
  left: 670px;
  bottom: 300px;
}
#a {
  position: relative;
  z-index: 3;
  font-family: externalfontancient;
  font-size: 150px;
  color: green;
  left: 756px;
  bottom: 631px;
}
#z {
  position: relative;
  z-index: 3;
  font-family: externalfontancient;
  font-size: 150px;
  color: yellow;
  left: 850px;
  bottom: 964px;
}
#y {
  position: relative;
  z-index: 3;
  font-family: externalfontancient;
  font-size: 150px;
  color: purple;
  left: 920px;
  bottom: 1300px;
}
.crazyl {
  position: absolute;
  left: 175px;
  bottom: -341px;
  opacity: 75%;
  text-shadow: 5px 5px 5px rgb(255, 255, 255);
}
.sec1 #self {
  margin: 0;
  line-height: 50px;
  text-align: left;
}
#bio {
  position: relative;
  left: 800px;
  bottom: 460px;
  width: 650px;
  z-index: 3;
  font-family: externalfontcalsun;
  font-size: 25px;
}
#bio2 {
  position: relative;
  left: 800px;
  bottom: 300px;
  width: 650px;
  z-index: 3;
  font-family: externalfontcalsun;
  font-size: 25px;
}
.sec1 .text {
  position: relative;
  z-index: 3;
  animation: example1 1s linear;
  bottom:100px;
}
#bpic {
  position: absolute;
  top: 80px;
  left: 1000px;
}
#abme {
  position: absolute;
  font-size: 90px;
  width: 40px;
  bottom: 700px;
  right: 750px;
  font-family: externalfontcalsun;
  z-index: 3;
  }
#box1 {
  position: absolute;
  width: 1678px;
  height: 700px;
  left: 0px;
  top: -180px;
  background-color: rgb(72, 17, 17);
  z-index: 2;
}
/*SECTION 2 HOMEPAGE IN4*/
.sec2 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 3200px;
  right: 270px;
}
.gal {
  position: relative;
  z-index: 4;
  bottom: 1500px;
}
.images {
  overflow: hidden;
  text-align: center;
}
.images img{
  width: 160px;
  height: 160px;
  margin: 10px;
  cursor: pointer;
  transition: 0.4s;
  opacity: 70%;
}
.images img:hover{
  opacity: 100%;
  transform: 0.8s;
  box-shadow: 0px 1px 3px 3px red;
}
.pre{
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 0;
  left: 580px;
  border: solid red 5px;
}
.pre a{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}
.pre img{
  width: 100%;
  height: 100%;
}
/*SECTION 3 HOMEPAGE IN5*/
.sec3 {
  position: absolute;
  left: 320px;
  width: 500px;
  top: 1920px;
}
#ad {
  position: absolute;
  font-size: 55px;
  font-family: externalfontcalsun;
  z-index: 5;
}
#ad2 {
  position: absolute;
  font-size: 30px;
  font-family: externalfontcalsun;
  z-index: 5;
  top: 50px;
  text-align: center;
}
.app {
  position: absolute;
  z-index: 5;
  width: 215px;
  left: 80px;
  font-size: 25px;
  top: 160px;
  font-family: externalfont4;
  text-align: center;
}
a.app:hover {
    color: red;
    transition: 0.3s;
    font-size: 18px;
}
.sec3 .ap {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: left;
  animation: example1 3s linear;
}
#arttext {
  position: absolute;
  font-size: 90px;
  font-family: externalfontcalsun;
  width: 10px;
  left: -280px;
  top: -290px;
  z-index: 3;
}
#box2 {
  position: absolute;
  width: 1500px;
  height: 800px;
  left: -320px;
  top: -250px;
  background-color: black;
  z-index: 2;
}
/*SECTION 4 HOMEPAGE IN6*/
.sec4 {
  position: relative;
  bottom: -1000px;
}
#htrm {
  position: absolute;
  font-size: 90px;
  width: 30px;
  bottom: -1500px;
  right: 220px;
  font-family: externalfontcalsun;
  z-index: 6;
}
#box3 {
  position: absolute;
  width: 1500px;
  height: 600px;
  left: 180px;
  top: 1550px;
  background-color: black;
  z-index: 2;
}
.ig {
  position: absolute;
  top: 1850px;
  right: 1250px;
  height: 75px;
  z-index: 6;
}
#ig0 {
  right: 990px;
  top: 1860px;
  font-style: italic;
  font-family: externalfonthello;
  font-size: 60px;
  text-decoration: none;
}
#line {
  position: absolute;
  width: 500px;
  height: 500px;
  border-right: 3px solid green;
  bottom: -1500px;
  right: 300px;
  z-index: 11;
}



/*Footer*/
.footer {
  position: absolute;
  bottom: -2000px;
  z-index: 9;
}
#copyr {
  position: absolute;
  left: 550px;
  font-weight: bold;
  bottom: -90px;
  width: 1000px;
}
/*KEYFRAMES*/
@keyframes an3 {
  0% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
transform: translateY(5%);
  }
}
