h1 {
    color: white;
    z-index: 2;
    position: relative;
}
label {
    color: white;
    line-height: 45px;
}
#fn {
    position: relative;
    font-family: externalfontsimp;
    font-weight: bold;
    z-index: 2;
    font-size: 25px;
    left: 300px;
    top: 100px;
}
#pn {
    font-family: externalfontsimp;
    position: relative;
    font-weight: bold;
    z-index: 2;
    font-size: 25px;
    left: 380px;
    top: 100px;
}
#ea {
    position: relative;
    font-family: externalfontsimp;
    font-weight: bold;
    z-index: 2;
    font-size: 25px;
    left: 300px;
    top: 100px;
}
#ques {
    font-family: externalfontsimp;
    position: relative;
    font-weight: bold;
    z-index: 2;
    font-size: 25px;
    left: 335px;
    top: 100px;
}
#age {
    font-family: externalfontsimp;
    position: relative;
    font-weight: bold;
    z-index: 2;
    font-size: 25px;
    left: 450px;
    top: 100px;
}
#place {
    font-family: externalfontsimp;
    font-weight: bold;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 300px;
    top: 100px;
}
#size {
    font-family: externalfontsimp;
    font-weight: bold;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 300px;
    top: 100px;
}
#td {
    font-family: externalfontsimp;
    font-weight: bold;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 300px;
    top: 100px;
}
#ri {
    font-family: externalfontsimp;
    font-weight: bold;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 300px;
    top: 100px;
}
#sbutt {
    font-family: externalfontsimp;
    font-weight: bold;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    font-size: 25px;
    left: 775px;
    top: 100px;
}
#title {
    top: 50px;
    font-family: externalfontsimp;
    font-size: 60px;
}