label {
    color: white;
    line-height: 45px;
}
#fn {
    position: relative;
    font-family: externalfont4;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 200px;
    top: 200px;
}
#pn {
    font-family: externalfont4;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 280px;
    top: 200px;
}
#ea {
    position: relative;
    font-family: externalfont4;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 200px;
    top: 200px;
}
#ques {
    font-family: externalfont4;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 235px;
    top: 200px;
}
#age {
    font-family: externalfont4;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 350px;
    top: 200px;
}
#place {
    font-family: externalfont4;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 200px;
    top: 200px;
}
#size {
    font-family: externalfont4;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 200px;
    top: 200px;
}
#td {
    font-family: externalfont4;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 200px;
    top: 200px;
}
#ri {
    font-family: externalfont4;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 200px;
    top: 200px;
}
#sbutt {
    font-family: externalfont4;
    position: relative;
    z-index: 2;
    font-size: 25px;
    left: 645px;
    top: 200px;
}
h1 {
    color: white;
    z-index: 2;
    position: relative;
}
#title {
    top: 190px;
    font-family: externalfont4;
    font-size: 40px;
}