@font-face {
    font-family: externalfont1;
    src: url(/fonts/Purple\ Smile.ttf);
  }
@font-face {
    font-family: externalfont2;
    src: url(/fonts/Vanilla\ Caramel.otf);
  }
@font-face {
    font-family: externalfont3;
    src: url(/fonts/Hug\ Me\ Tight\ -\ TTF.ttf);
}
@font-face {
    font-family: externalfont4;
    src: url(/fonts/Hey\ Comic.ttf);
}
@font-face {
  font-family: externalfontgothic;
  src: url(/fonts/CloisterBlack.ttf);
}
@font-face {
  font-family: externalfontancient;
  src: url(/fonts/Ancient\ Medium.ttf);
}
@font-face {
  font-family: externalfontcalsun;
  src: url(/fonts/California\ sun.ttf);
}
@font-face {
  font-family: externalfonthello;
  src: url(/fonts/Hello\ Christmas.otf);
}