a.menu-item1:hover {
  color: blue;
  font-weight: bold;
  transition: 0.3s;
}
a.menu-item2:hover {
  color: red;
  font-weight: bold;
  transition: 0.3s;
}
a.menu-item3:hover {
  color: green;
  font-weight: bold;
  transition: 0.3s;
}
a.menu-item4:hover {
  color: yellow;
  font-weight: bold;
  transition: 0.3s;
}
a.menu-item5:hover {
  color: purple;
  font-weight: bold;
  transition: 0.3s;
}
a.menu-item6:hover {
  color: orange;
  font-weight: bold;
  transition: 0.3s;
}
.menu-item {
  background-color: black;
  border-style: none;
  width: 300px;
  height: 40px;
  font-size: 25px;
  color: black;
  text-align: center;
  font-family: externalfontancient;
  position: relative;
  z-index: 9;
}
.menu-item1 {
  text-decoration: none;
}
.menu-item2 {
  text-decoration: none;
}
.menu-item3 {
  text-decoration: none;
}
.menu-item4 {
  text-decoration: none;
}
.menu-item5 {
  text-decoration: none;
}
.menu-item6 {
  text-decoration: none;
}
#main-menu-home {
  top: 150px;
  right: 50px;
  letter-spacing: 5px;
}
#main-menu-appointment {
  top: 110px;
  left: 170px;
  letter-spacing: 5px;
}
#main-menu-shop {
  top: 70px;
  left: 450px;
  letter-spacing: 5px;
}
#main-menu-tgallery {
  top: 30px;
  left: 740px;
  letter-spacing: 5px;
}
#main-menu-agallery {
  top: -10px;
  left: 1030px;
  letter-spacing: 5px;
}
#main-menu-contact {
  top: -50px;
  left: 1329px;
  letter-spacing: 5px;
}
.nav-bar {
  position: relative;
  bottom: 167px;
  z-index: 9;
}
.heading {
  position: fixed;
  top: 0%;
  z-index: 9;
}