a.menu-item1:hover {
  color: blue;
  font-weight: bold;
  transition: 0.3s;
}
a.menu-item2:hover {
  color: red;
  font-weight: bold;
  transition: 0.3s;
}
a.menu-item3:hover {
  color: green;
  font-weight: bold;
  transition: 0.3s;
}
a.menu-item4:hover {
  color: yellow;
  font-weight: bold;
  transition: 0.3s;
}
a.menu-item5:hover {
  color: purple;
  font-weight: bold;
  transition: 0.3s;
}
a.menu-item6:hover {
  color: orange;
  font-weight: bold;
  transition: 0.3s;
}
.menu-item {
  background-color: black;
  border-style: none;
  width: 250px;
  font-size: 20px;
  color: black;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  z-index: 5;
}
#main-menu-home {
  top: 150px;
  right: 40px;
  letter-spacing: 5px;
}
#main-menu-appointment {
  top: 127px;
  left: 190px;
  letter-spacing: 5px;
}
#main-menu-shop {
  top: 104px;
  left: 430px;
  letter-spacing: 5px;
}
#main-menu-tgallery {
  top: 81px;
  left: 640px;
  letter-spacing: 5px;
}
#main-menu-agallery {
  top: 58px;
  left: 890px;
  letter-spacing: 5px;
}
#main-menu-contact {
  top: 35px;
  left: 1120px;
  letter-spacing: 5px;
}
#heading {
  position: fixed;
  top: 0%;
  z-index: 5;
}
